In [27]:
a = [115,140,175]

In [28]:
def featureScaling(arr):
    x_prime = []
    x_max = max(arr)
    x_min = min(arr)
    for value in arr:
        x_evl = float((value - x_min))/float((x_max - x_min))
        x_prime.append(x_evl)
        
    return x_prime

In [29]:
featureScaling(a)

[0.0, 0.4166666666666667, 1.0]

In [30]:
import numpy as np
import pandas as pd

In [53]:
df = pd.DataFrame({'a':['a','c','a','b','c','a'],'b':np.arange(6)})

In [54]:
df

   a  b
0  a  0
1  c  1
2  a  2
3  b  3
4  c  4
5  a  5

In [46]:
test = df['a']=='a'

In [48]:
test.shape

(6L,)

In [51]:
df.shape[0]

6

In [57]:
(df['a']=='a').sum()

3

In [67]:
print('{0} {1}'.format('one','two'))

one two

In [72]:
'{:06.2}'.format(3.1415926)

'0003.1'

In [96]:
s =pd.Series(list('abcada'))
s1 = ['a','v',np.nan]

In [97]:
pd.get_dummies(s1)

   a  v
0  1  0
1  0  1
2  0  0

In [93]:
df = pd.DataFrame({'A': ['a', 'b', 'a'], 'B': ['b', 'a', 'c'],'D':[1,2,3], })

In [104]:
pd.get_dummies(df,prefix=['test1','test2'])

   D  test1_a  test1_b  test2_a  test2_b  test2_c
0  1        1        0        0        1        0
1  2        0        1        1        0        0
2  3        1        0        0        0        1

In [115]:
df

   A  B  D
0  a  b  1
1  b  a  2
2  a  c  3

In [114]:
df.A.astype('category').cat.codes

0    0
1    1
2    0
dtype: int8

In [117]:
int(round(23.8))

24

In [118]:
df2=pd.DataFrame([[0,0,1,1],[0,1,1,0],[1,0,1,0],[1,1,1,0]])

In [122]:
label=pd.DataFrame([[0],[0],[0],[1]])

In [123]:
from sklearn import tree

In [124]:
clf = tree.DecisionTreeClassifier()
clf.fit(df2,label)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_split=1e-07, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            presort=False, random_state=None, splitter='best')

In [127]:
clf.predict([1,0,1,1])

C:\ProgramData\Anaconda2\lib\site-packages\sklearn\utils\validation.py:395: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  DeprecationWarning)

array([0], dtype=int64)

In [130]:
from sklearn.tree import export_graphviz
export_graphviz(clf)

C:\ProgramData\Anaconda2\lib\site-packages\sklearn\tree\export.py:386: DeprecationWarning: out_file can be set to None starting from 0.18. This will be the default in 0.20.
  DeprecationWarning)

In [3]:
```python
s = "Python syntax highlighting"
print s
```

SyntaxError: invalid syntax (<ipython-input-3-48fb67fce418>, line 1)